/* GENERAL */
* {
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Trebuchet MS', Arial, sans-serif;
    color: #444;
}

.background_theme_color{
    background-color: #90A4AE;
}

.theme_color{
    color: #90A4AE;
}

.bold{
    font-weight: bold;
}

/* HEADER */
header {
    display: flex;
    flex-direction: column;
}

.header__picture{
    padding: 30px 0;
    text-align: center;
}

.header__picture--image{
    width: 150px;
    height: 150px;
    margin: 0 auto;
    border-radius: 50%;
    border: 3px solid #607D8B;
}

.header__title{
    text-align: center;
    padding: 30px 0;
}

.header__title--dev{
    display:inline-block;
    border-bottom: 2px solid #90A4AE; 
}

h1{
    text-transform: uppercase;
    font-weight: lighter;
    padding:10px;
}

h2{
    padding:10px;
}

/* MAIN SECTION */
.section{
    margin: 10px;
    padding: 10px;
    box-shadow: 0px 0px 8px #90A4AE;
    border-radius: 5px;
}

.section_title{
    width: 80%;
    margin: 15px auto;
    padding: 10px;
    border-bottom: 2px solid #90A4AE;
    text-transform: uppercase;
    text-align: center;
    display:flex;
    align-items: center;    
}

.section_title i{
    font-size: 20px;
    margin-right: 5px;
}

/* h3  */
.section_title__title{
    flex:1;
}

.section_content{
    display:flex;
    flex-direction: column;
    padding: 20px;
    margin-bottom: 10px;
}

.section_content__date-place{
    font-weight: bold;
    font-size:15px;
    display:flex;
    margin-bottom: 10px;
}

.section_content__date-place i{
    margin: 3px 5px;
    font-size: 12px;
}

.section_content__title{
    text-transform: uppercase;
    margin-top: 5px;
    margin-bottom: 10px
}

.section_content__subtitle{
    margin-bottom: 10px;
}

.section_content__text{
    text-align: justify;
}

.section_content__recommendation{
    margin-bottom:10px;
    text-align:center;
}

/* ASIDE */
.section_division{
    padding: 5px 0;
    background-color:#444;
    text-transform: uppercase;
    text-align: center;
}

aside section div.background_theme_color{
    padding: 20px;
}

aside p{
    margin-bottom:10px;
}

.about{
    text-align: justify;
    text-indent: 20px;
}

.contact p{
    text-align: center;
}

.hobby{
    display: flex;
    justify-content: space-around;
    align-items:center;
}

.icon{
    width: 50px;
    height:50px;
    font-size: 25px;
    border: 2px solid #444;
    border-radius: 50%;
    display:flex;
    justify-content: center;
    align-items:center;
}


/* Responsive à partir de 768px*/

@media all and (min-width: 768px)
{
    /* GENERAl */
    p{
        font-size: 12px;
    }

    body {
        width: 768px;
        margin: 0 auto;
        border: 1px solid #90A4AE; 
    }

    header {
        display: flex;
        flex-direction: row;
    }

    .header__title{
        text-align: left;
        padding: 50px 0;
    }

    .header__picture{
        flex:1;
    }

    .header__title{
        flex:2;
    }

    h1, h2{
        margin-left:25px;
    }

    /* MAIN SECTION */
    #main_content{
        display:flex;
        flex-direction: row-reverse;
    }

    main{
        flex:2;
    }

    .section{
        margin: 10px;
        padding: 10px;
        box-shadow: none;
        border-radius: 0;
    }

    .section_title{
        padding-left:0px;
        text-align: left;
        width:92%;
    }

    .section_title i{
        float: left;
        padding: 5px;
    }

    .section_content{
        display:flex;
        flex-direction: row;
        padding: 10px;
        margin-bottom: 10px;
    }

    .section_content__date-place{
        flex:1;
    }

    .section_content__date-place + div{
        flex:2;
    }

    .section_content__text{
        text-align: justify;
        padding-right:10px;
    }

    #recommendation .section_content{
        justify-content: space-around;
        padding: 10px 20px;
    }

    .section_content__recommendation{
        text-align:left;
        width:100%;
    }

    /* ASIDE */
    aside{
        display:flex;
        flex-direction:column;
        flex:1;
    }

    aside section div.background_theme_color{
        padding: 30px;
    }

    .contact p{
        text-align:left;
    }

    aside section:nth-child(2){
        flex-grow:1;
        display:flex;
        flex-direction: column;
    }

    .about{
        flex-grow:1;
    }
}

/* Responsive à partir de 1024px*/

@media all and (min-width: 1024px)
{
    body{
        width: 900px;
    }

    .section_content__date-place{
        padding-left:10px;
    }
}


/*
min-width:
768px pour tablette
1024px pour laptop 
*/